@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray1: rgb(177, 157, 157);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray1: rgb(177, 157, 157);
  }
}

body {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
